<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Name="SwitchTrade Setup" Manufacturer="Min W. Lim"
          Version="$(var.ProductVersion)" UpgradeCode="{8038714E-10FB-489A-B64A-2B8D0183C4D9}"
          IconSourceFile="$(var.IconFile)" Compressed="yes">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense" LicenseUrl="" />
    </BootstrapperApplication>

    <Variable Name="InstalledRelease" Type="string" Value="" bal:Overridable="no" />
    <util:RegistrySearch Id="InstalledReleaseSearch" Variable="InstalledRelease"
                         Root="HKCU" Key="Software\SwitchTrade" Value="ReleaseId"
                         Result="value" />

    <Chain>
      <ExePackage Id="WindowsFeatures" SourceFile="$(var.PrerequisiteExe)"
                  Name="SwitchTradePrerequisites.exe" InstallArguments="install"
                  RepairArguments="install" DetectCondition="0" Permanent="yes"
                  PerMachine="yes" Vital="yes">
        <ExitCode Value="3010" Behavior="forceReboot" />
      </ExePackage>
      <MsiPackage Id="MicrosoftWsl" SourceFile="$(var.WslMsi)"
                  Compressed="yes" Permanent="yes" Vital="yes" />
      <MsiPackage Id="UsbipdWin" SourceFile="$(var.UsbipdMsi)"
                  Compressed="yes" Permanent="yes" Vital="yes" />
      <MsiPackage Id="SwitchTradeDesktop" SourceFile="$(var.DesktopMsi)"
                  Compressed="yes" Vital="yes" />
      <ExePackage Id="SwitchTradeRuntime" SourceFile="$(var.ProvisionerExe)"
                  Name="SwitchTradeProvisioner.exe" PerMachine="no" Vital="yes"
                  DetectCondition="InstalledRelease = &quot;$(var.ReleaseId)&quot;"
                  InstallArguments="repair --json --burn --package-root &quot;[WixBundleExecutePackageCacheFolder]&quot; --log &quot;[WixBundleLog_SwitchTradeRuntime]&quot;"
                  RepairArguments="repair --json --burn --package-root &quot;[WixBundleExecutePackageCacheFolder]&quot; --log &quot;[WixBundleLog_SwitchTradeRuntime]&quot;"
                  UninstallArguments="uninstall --json --burn --log &quot;[WixBundleLog_SwitchTradeRuntime]&quot;">
        <Payload SourceFile="$(var.ReleaseManifest)" Name="release-manifest.json" />
        <Payload SourceFile="$(var.RuntimeWsl)" Name="payload\$(var.RuntimeFileName)" />
        <Payload SourceFile="$(var.KernelFile)" Name="payload\kernel\kernel" />
        <Payload SourceFile="$(var.ModulesFile)" Name="payload\kernel\modules.tar.gz" />
        <Payload SourceFile="$(var.FirmwareManifest)" Name="payload\kernel\firmware-manifest.sha256" />
      </ExePackage>
    </Chain>
  </Bundle>
</Wix>
